// Colors
$color-white: #ffffff;
$color-second-white: #f3eff5;
$color-black: #101010;
$color-yellow: #ffc857;
$color-services-blue: #1D1C27;
$color-grey: rgba(243, 239, 245, 0.45);
$color-grey-light: rgba(255, 255, 255, 0.6);
