// Navigation styles
.navigation {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style: none;

      li {
        a {
          display: inline-block;
          margin-left: 50px;
          text-decoration: none;
          color: $color-second-white;
          font-size: 16px;
          line-height: 34px;
          font-weight: 400;
          transition: 200ms ease-in-out;

          &:hover {
            color: $color-white;
          }
        }
      }
    }
  }
}
