.techStack {
  background-color: $color-black;
  padding-top: 130px;
  padding-bottom: 120px;
  background-image: url(/images/pattern.png);

  .intro {
    text-align: center;

    h2 {
      margin: 0;
    }

    p {
      max-width: 757px;
      display: block;
      margin: 21px auto 0 auto;
    }
  }

  .techsContainer {
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    margin: 70px auto 0 auto;
  }
}
