.techStack {
  background-color: $color-black;
  padding-top: 130px;
  padding-bottom: 120px;

  .intro {
    text-align: center;

    h2 {
      margin: 0;
    }

    p {
      max-width: 757px;
      display: block;
      margin: 21px auto 0 auto;
    }
  }
}
